.nav-logo {
  max-width: 100px;
}

.custom-navbar {
  background-color: #087a8b;
  color: #fff;
}

.custom-nav-item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.custom-link {
  font-size: 14px;
  font-weight: bold;
}

.blog-search-form {
  visibility: hidden;
  width: 0;
  height: 0;
}

@media screen and (max-width: 576px) {
  .custom-navbar {
    width: 100%;
  }

  .blog-search-form {
    visibility: visible;
    font-size: 13px;
    width: 90%;
    height: 100%;
  }

  .blog-search {
    border: hidden;
    border-radius: 20px;

    padding: 7px 10px;

    width: 100%;
  }
}
