<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <button class="navbar-brand btn" href="#">
    <img src="assets/logo.png" class="nav-logo" alt="logo" />
  </button>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav justify-content-end w-100 mx-3">
      <li class="nav-item active">
        <button class="btn custom-link nav-link" href="#">Home</button>
      </li>
      <li class="nav-item active">
        <button class="btn custom-link nav-link" href="#">Work</button>
      </li>
      <li class="nav-item active">
        <button class="btn custom-link nav-link" href="#">Contact</button>
      </li>
    </ul>
  </div>
</nav>
