<div class="feature-post-container">
  <div class="feature-image-container">
    <img
      src="{{ data.fields.image.fields.file.url }}"
      alt=""
      class="feature-image"
    />
  </div>
  <div class="feature-text-container">
    <p class="feature-date">
      Published Date: {{ data.sys.createdAt | date: "fullDate" }}
    </p>
    <p class="feature-title">{{ data.fields.title }}</p>
    <div class="feature-body-container">
      <p class="feature-body">
        {{ data.fields.description }}
      </p>
    </div>
  </div>
</div>
