<div class="section-container">
  <div class="text-container">
    <div class="row justify-content-end">
      <p class="subtitle-text">What future do we forsee</p>
    </div>
    <div class="row justify-content-end">
      <p class="title-text">Understand our purpose</p>
    </div>
  </div>

  <div class="misvis-row">
    <div class="square-container">
      <div class="bg">
        <p class="header-text">Mission</p>
        <p class="body-text">
          Hope for Communities (H4C) mission is to empower and holistically
          transform the poor and marginalized individuals and communities by
          creating hope and building capacity for sustainable change in society.
        </p>
      </div>
    </div>
    <div class="square-container">
      <div class="bg">
        <p class="header-text">Vision</p>
        <p class="body-text">
          At Hope for Communities, we envision a hopeful and thriving
          communities in Africa.
        </p>
      </div>
    </div>
  </div>

  <div class="como-row">
    <div class="square-container">
      <div class="bg">
        <p class="header-text">Core Values</p>
        <p class="body-text">
          <span>Christian</span> <br />
          We seek to demonstrate love for God and Neighbor <br /><br /><span
            >Contextual relevance</span
          ><br />
          We are community and people centered <br /><br /><span
            >Connecting</span
          ><br />
          We engage in transformative partnerships for community welfare
        </p>
      </div>
    </div>

    <div class="square-container">
      <div class="bg">
        <p class="header-text">Motto</p>
        <p class="body-text">
          At Hope for Communities, we envision a hopeful and thriving
          communities in Africa.
        </p>
      </div>
    </div>
  </div>
</div>
