<div class="section-container">
  <div class="bg-image">
    <div class="row">
      <p class="subtitle-text">Who are we?</p>
    </div>
    <div class="row">
      <p class="title-text">Get to know us</p>
    </div>
    <div class="row">
      <p class="main-text">
        Hope For Communities (H4C) is a Christian organization registered in
        Kenya under the Company’s Act in 2014. H4C exists to create hope in
        individuals and communities by empowering them to develop and emerge
        from their limiting situations by creating hope, vision and capacity for
        their own transformation. This is realized through our three core
        ministry pillars: namely;
      </p>
    </div>
    <div class="row">
      <p class="sub-text">
        <span>Church in Mission:</span> Inspiring local churches for faith in
        action to plant, reach and transform their environment with the Good
        News of the Kingdom. <br /><br />
        <span>Integrated Community Development:</span> Facilitating individuals
        and communities to embrace local solutions to local challenges, e.i
        health, livelihoods, etc. <br /><br />
        <span>Education for Life:</span> Focusing on developing children, youth
        and adults for quality living through targeted educational programs.
      </p>
    </div>
  </div>
</div>
