<div class="related-item-container">
  <img
    src="{{ item.fields.image.fields.file.url }}"
    alt=""
    id="{{ item.fields.image.fields.title }}"
    class="related-item-image"
  />
  <div class="related-item-overlay">
    <p class="related-item-title">{{ item.fields.title }}</p>
    <div class="related-item-body-container">
      <p class="related-item-body">
        {{ item.fields.description }}
      </p>
    </div>
    <div class="row justify-content-end mx-3">
      <a href="/blog/view/{{ item.sys.id }}" class="related-item-link"
        >Read Article</a
      >
    </div>
  </div>
</div>
