.purpose-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 30px;
}

.heading-container {
  width: 100%;
  padding: 20px 50px;
}
.section-subheading {
  font-size: 14px;
  font-weight: bold;
  color: #087a8b;
  text-align: end;
  margin-bottom: 0;
}
.section-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: end;
  margin-top: 0;
}

.bg {
  background-image: url("../../../assets/serviceBG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 50px;
  width: 50%;
  height: 350px;
  margin: 10px;
}

.intergrated {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}

.church {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: end;
}

.Education {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}

.heading {
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.body {
  color: #087a8b;
  font-size: 15px;
}

.addition-text {
  font-weight: bold;
  color: #000;
  font-size: 13px;
  margin-left: 20px;
}

@media screen and (max-width: 576px) {
  .purpose-container {
    margin: 10px;
  }

  .bg {
    width: 100%;
    height: max-content;
  }
}
