<div class="blog-item-container">
  <div class="blog-image-container">
    <img
      src="{{ item.fields.image.fields.file.url }}"
      alt=""
      id="{{ item.fields.image.fields.title }}"
      class="blog-image"
    />
  </div>
  <div class="blog-text-container">
    <p class="blog-date">{{ item.sys.createAt | date: "fullDate" }}</p>
    <p class="blog-title">{{ item.fields.title }}</p>
    <div class="blog-body-container">
      <p class="blog-body">
        {{ item.fields.description }}
      </p>
    </div>
    <div class="blog-link-container">
      <a
        href="javascript:;"
        routerLink="/blog/view/{{ item.sys.id }}"
        class="blog-link"
        >Read More >>></a
      >
    </div>
  </div>
</div>
