<div class="purpose-container">
  <div class="intergrated">
    <div class="bg">
      <p class="heading">Integrated Community Development</p>
      <p class="body">
        H4C Promotes socio-economic and environmental awareness programs that is
        aligned to the UN Sustainable Development Goals, specifically we
        contribute to 1, 2, 3, 4, 5,10, 13, 16 & 17 by transforming peoples mind
        sets and behaviors to break the dependence by utilizing locally
        available resources to achieve sustainable development. Some of our
        programs include
      </p>
      <p class="addition-text">
        Community health Promoting conservation agriculture Securing livelihoods
        Women & youth empowerment
      </p>
    </div>
  </div>
  <div class="church">
    <div class="bg">
      <p class="heading">Church in Mission</p>
      <p class="body">
        H4C Inspires and mobilizes local churches and other faith actors to
        become the change the community needs and champion the same in
        communities. Through this, H4C promotes:
      </p>
      <p class="addition-text">
        Transformational leadership development for local churches to develop a
        vision of establishing new communities of worship <br /><br />
        Empower and connect children and youth with a holistic gospel while at
        the same time being a local catalyst for sustainable development. We run
        children and youth camps, connect pastors for training <br /><br />
        Church based savings groups for economic empowerment.
      </p>
    </div>
  </div>
  <div class="Education">
    <div class="bg">
      <p class="heading">Education for Life</p>
      <p class="body">
        H4C believes that education is a major catalyst for sustainable
        development. In line with the SDG 4, H4C seeks to undertake programs
        that promote:
      </p>
      <p class="addition-text">
        Quality education for the under privileged and especially the children
        <br /><br />
        Out of school youth on life skills and/or vocational training
        <br /><br />
        Leadership development Volunteers for Change program
      </p>
    </div>
  </div>
</div>
