.article-body-container {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 100%;
  grid-template-areas: "article related";

  padding: 0 30px;
}

.article-container {
  grid-area: article;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.related-article-container {
  grid-area: related;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 576px) {
  .article-body-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "article" "related";
  }

  .article-container {
    width: 100%;
  }
  .related-article-container {
    width: 100%;
  }
}
