<div class="article-container">
  <blog-navbar></blog-navbar>
  <article-landing-section
    [image]="current_post.fields.image.fields.file"
    [title]="current_post.fields.title"
    [author]="current_post.fields.author"
    [date]="current_post.sys.createdAt"
  ></article-landing-section>
  <blog-breadcrumb
    [post_title]="current_post.fields.title"
    [post_id]="current_post.sys.id"
  ></blog-breadcrumb>
  <div class="article-body-container">
    <div class="article-container">
      <blog-article-content
        [content]="current_post.fields.content"
      ></blog-article-content>
    </div>
    <div class="related-article-container">
      <blog-related-posts [related]="related_posts"></blog-related-posts>
    </div>
  </div>
</div>
