<div class="mt-5">
  <blog-navbar></blog-navbar>
  <blog-landing-section></blog-landing-section>
  <p class="section-header">Posts of the week</p>
  <blog-weeks-blog></blog-weeks-blog>
  <p class="section-header mt-4">Featured Posts</p>
  <div
    class="mb-5 mx-auto w-100 row justify-content-center"
    style="padding: 0 30px"
  >
    <blog-item></blog-item>
    <blog-item></blog-item>
    <blog-item></blog-item>
    <blog-item></blog-item>
    <blog-item></blog-item>
    <blog-item></blog-item>
  </div>
</div>
