<div class="spinner-page-cover">
  <div class="spinner-info-container">
    <div class="spinner-row">
      <div class="spinner-col">
        <img src="../../../assets/logo.png" alt="logo" class="spinner-logo" />
        <p class="spinner-text">
          Loading Page Assets <br />
          <span> <p class="spinner-subtext">Please wait</p> </span>
        </p>
      </div>
    </div>
    <div class="spinner-row">
      <div class="progress">
        <div
          class="progress-bar progress-bar-striped bg-danger"
          role="progressbar"
          style="width: 100%"
          aria-valuenow="{{ progression }}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
