<div class="section-container">
  <div class="bg-image">
    <div class="text-container">
      <div class="row justify-content-start">
        <p class="subtitle-text">Who's in our team?</p>
      </div>
      <div class="row justify-content-start">
        <p class="title-text">Meet the people behind the team</p>
      </div>
      <div class="row justify-content-start">
        <p class="main-text">
          Hope for Community is governed by a diverse board of individuals who
          are passionate about change and community development. The Board
          consists of the following member Dr Christine Mutua, Ibrahim Dima,
          Alex Masibo and Lucy Karanja:
        </p>
      </div>
      <div class="row justify-content-start">
        <div class="team-row">
          <div class="founder-col">
            <img
              src="../../../assets/Daniel.png"
              alt="Daniel"
              class="founder-img"
            />
            <p class="board-name">Dr Daniel Muvengi</p>
            <p class="board-description">
              has had over 25 years of experience working across the African
              continent as an international development expert. He has a strong
              passion for empowerment and transformation of the poor.
            </p>
          </div>
          <div class="board-col">
            <div class="board-row">
              <div class="team-col">
                <img
                  src="../../../assets/Christine.png"
                  alt="Christine"
                  class="board-img"
                />
                <p class="board-name">Christine</p>
                <p class="board-description">
                  a leading specialist on leadership and children development
                </p>
              </div>
              <div class="team-col">
                <img
                  src="../../../assets/Alex.png"
                  alt="Alex"
                  class="board-img"
                />
                <p class="board-name">Alex Masibo</p>
                <p class="board-description">
                  an experienced project manager and early childhood
                  educationist
                </p>
              </div>
            </div>
            <div class="board-row">
              <div class="team-col">
                <img
                  src="../../../assets/Lucy.png"
                  alt="Lucy"
                  class="board-img"
                />
                <p class="board-name">Lucy Karanji</p>
                <p class="board-description">
                  an entrepreneur and also works with local non-profit
                  organizations
                </p>
              </div>
              <div class="team-col">
                <img
                  src="../../../assets/Ibrahim.png"
                  alt="Ibrahim"
                  class="board-img"
                />
                <p class="board-name">Ibrahim Dima</p>
                <p class="board-description">
                  an expert on cross-cultural and rural development
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
